@import "normalize", "mixin", "variable";

body{
    font-family: 'Microsoft Yahei';
    font-size: 14px;
    background: #fff;
}
a{text-decoration: none}
h1, h2, h3, h4, h5, h6 {font-weight: normal}
ul,li,dt,dd,dl{list-style-type: none; margin:0; padding: 0}
.clearfix{
    *zoom: 1;
}
.clearfix:before, .clearfix:after{
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after{
    clear: both;
}
.f-left{float: left}
.f-right{float: right}
.block{display: block !important}
.layout{
    padding: 1px 0;
}
.main-wrap{
    width: $main-width;
    margin: 0 auto;
    position: relative;

    @media screen and (min-width: 1500px){
        width: $main-big-width;
    }
}
.f16{font-size: 16px}
.f20{font-size: 20px}
.f18{font-size: 18px}
.f24{font-size: 24px}
.f30{font-size: 30px !important}
.f50{font-size: 50px !important}
.f45{font-size: 45px !important}
.mt0{margin: 0 !important}
.mt10{margin-top: 10px}
.mt15{margin-top: 15px}
.mt20{margin-top: 20px !important}
.mt-10{margin-top: -10px !important}
.mt-20{margin-top: -20px !important}
.mt30{margin-top: 30px}
.mt40{margin-top: 40px}
.mt50{margin-top: 50px}
.mt60{margin-top: 60px}
.mt70{margin-top: 70px}
.mt80{margin-top: 80px}
.mt90{margin-top: 90px}
.mt100{margin-top: 100px}
.mt110{margin-top: 110px}
.mt125{margin-top: 125px}
.mt130{margin-top: 130px}
.mt150{margin-top: 150px}
.mt170{margin-top: 170px}
.mt180{margin-top: 180px}
.ml10{margin-left: 10px}
.ml16{margin-left: 16px}
.ml20{margin-left: 20px}
.ml30{margin-left: 30px}
.ml40{margin-left: 40px}
.mr50{margin-right: 50px}
.mr10{margin-right: 10px}
.mr20{margin-right: 20px}
.mb20{margin-bottom: 20px}
.mb30{margin-bottom: 30px}
.mb50{margin-bottom: 50px}
.mb60{margin-bottom: 60px}
.mb80{margin-bottom: 80px}
.mtb5{margin: 5px 0 !important}
.mtb10{margin: 10px 0}
.mtb20{margin: 20px 0}
.mtb40{margin: 40px 0}
.pt1{padding-top: 1px}
.pt40{padding-top: 40px}
.pt80{padding-top: 80px}
.pb20{padding-bottom: 20px !important}
.pb30{padding-bottom: 30px !important}
.pb40{padding-bottom: 40px !important}
.pb80{padding-bottom: 80px !important}
.pb60{padding-bottom: 60px !important}
.pb40{padding-bottom: 40px !important}
.ptb40{padding: 40px 0 100px 0 !important}
.ptb60{padding: 60px 0 100px 0 !important}
.pl10{padding-left: 10px}
.pl40{padding-left: 40px;}
.pr40{padding-right: 40px}
.pr150{padding-right: 150px}
.bt6{border-top: 6px solid $g-border-color}
.lh40{line-height: 40px !important}
.lh60{line-height: 60px !important}
.bold{font-weight: bold}
.bg-f9{background-color: $bg-f9 !important}
.bg-f2{background-color: $gf2 !important}
.bg-f3{background-color: $bg-f3 !important}
.align-left{text-align: left !important}
.align-right{text-align: right !important}
.align-center{text-align: center !important}
.g333{color: $g333}
.g666{color: $g666}
.g999{color: $g999}
.light-blue{color: $light-blue}
.drak-blue{color: $drak-blue}
.b-radius-lt3{border-radius: 3px 0 0 0}
.b-radius-lb3{border-radius: 0 0 0 3px}
.blue-link{
    color: $light-blue;
    &:hover{
        color: $drak-blue;
    }
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.animated.infinite {
    animation-iteration-count: infinite;
}
.animated.hinge {
    animation-duration: 2s;
}
.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
    animation-duration: .75s;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}
.blue-btn{
    @include blue-btn();
}
.white-btn{
    @include white-btn()
}
.top-blue-btn{
    @include blue-btn(40px);
}
.gray-col{background: $gf2}
.sub-gray-col{background: $gf2}
.bg-f5{background: $gf5}
