@import "mixin", "variable";

.new-list-group{
    padding: 30px 40px;
    text-align: left;
    border-bottom: 1px solid $gf3;

    .new-tit{
        font-size: 30px;
        margin: 0;
    }
    .new-date{
        font-size: 18px;
        color: #515151;

    }
    .new-con{
        font-size: 20px;
        color: #6B6B6B;
        line-height: 1.8;
    }
}
.new-body{
    text-align: left;
    padding: 30px 40px;

    .new-tit{
        font-size: 30px;
        margin: 0;
        text-align: center;
    }
    .news-info{
        background: #f0f0f0;
        padding: 30px;
        border-left: 3px solid $blue;
        font-size: 22px;
        color: #6B6B6B;
    }
    .new-con{
        color: #6B6B6B;
        font-size: 20px;
        line-height: 1.8;
    }

}
