<div class="row clearfix">
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/pic/63/201512/5671255c24336.png">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U6121639PA4QPPNN" class="newScreena" target="_blank">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">男装</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/pic/63/201511/563f3a3d852f0.png">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U6121176P35N2363" class="newScreena" target="_blank">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">全网营销网站-Ztouchs</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img ng-src="http://wx.300.cn/upload/topic/pic/63/201512/56669f697b3ac.jpg" src="http://wx.300.cn/upload/topic/pic/63/201512/56669f697b3ac.jpg">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U61208994EB9GYUJ" class="newScreena" target="_blank">
                        <div class="newSceen_itemImgBtn">
                            详细预览
                        </div>
                    </a><a ng-click="createScene(tpl)" class="createSceneList">
                        <div class="newSceen_itemImgBtn newSceen_itemImgBtn2">
                            选择此模板制作
                        </div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">
                    互联网
                </p>
                <p class="ng-binding">
                    作者：300.cn
                </p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/pic/63/201512/5665001807250.jpg">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U61207337T54LD9N" class="newScreena" target="_blank">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">时尚sofa</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/pic/63/201512/565d48ce40c18.jpg">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U61202V7K7374KDT" class="newScreena" target="_blank">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">雪佛兰2015款科迈罗</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/pic/63/201511/564c423f211cd.png">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U612024967AG2G3L" class="newScreena" target="_blank">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">猫人内衣</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/pic/63/201511/5657f6df6fc50.png">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U6120244MA943Q58" class="newScreena" target="_blank">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">新鲜蔬菜</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/pic/63/201512/565d0c8eb5aab.png">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U61202KX279Q3RGH" class="newScreena" target="_blank">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">化妆品</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>
    </div>


</div>
