.popular-application-content {
    .popular-application-item{
        width: 20%;
        float: left;

        .item-detail{
            padding: 0 20px;
            text-align: center;
        }
    }

}
