$main-width: 1280px;

$g-border-color: #eeeeee;

$bg-blue: #1b77b9;

$topbar-color: #0f1e2b;
$topbar-h-color: #182836;
$topbar-b-color: #4d5b67;
$topbar-bh-color: #99a1a8;
$topbar-drop-color: #0f1e2b;

$white: #fff;
$g333: #333;
$gccc: #ccc;
$gf2: #f2f2f2;

$tool-btn-color: #3db1ea;
$tool-btn-h-color: #1297d9;

$banner-color: #00192d;
$dot-color: #808d98;

$btn-h-color: #1297d9;

$main-head-h1-color: #373d41;
$main-head-p-color: #5f6367;

$href-color: #3db1ea;
$href-h-color: #1297d9;

$footer-color: #23262a;
$footer-a-color: #9b9ea0;
$copyright-color: #73777a;
