@import "normalize", "minix", "variable";

body{
    font-family: 'Microsoft Yahei';
    font-size: 14px;
    background: #fff;
}
a{text-decoration: none}
ul,li{list-style-type: none; margin:0; padding: 0}
.clearfix{
    *zoom: 1;
}
.clearfix:before, .clearfix:after{
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after{
    clear: both;
}
.f-left{float: left}
.f-right{float: right}
.layout{
    padding: 1px 0;
}
.main-wrap{
    width: 1280px;
    margin: 0 auto;
}
.f16{font-size: 16px}
.f18{font-size: 18px}
.f24{font-size: 24px}
.mt15{margin-top: 15px}
.mt20{margin-top: 20px}
.mt30{margin-top: 30px}
.mt60{margin-top: 60px}
.ml20{margin-left: 20px}
.mb60{margin-bottom: 60px}
