@import "variable";
/*
    public topbar start
 */
.top-menu{
    background: $topbar-color;
    border-bottom: 1px solid $topbar-b-color;

    &:hover{
        background: $topbar-h-color;
        border-color: $topbar-bh-color;
    }

    .topbar-box{
        width: $main-width;
        height: 60px;
        margin: 0 auto;
    }

    .menu-body{
        position: relative;

        .top-border{
            height: 3px;
            position: absolute;
            bottom: 0;
            background:#3db1ea
        }
        .menu-content{
            list-style-type: none;
            margin: 0;
            height: 60px;

            .menu-item{
                float: left;
                height: 60px;
                position: relative;

                &:hover{

                }
                a{
                    display: block;
                    height: 20px;
                    line-height: 20px;
                    padding: 20px;
                    color: $white;
                }
            }
        }
        .menu-detail{
            padding: 20px;
            position: absolute;
            top: 61px;
            right: 0;
            display: none;
            color: $white;
            background: $topbar-drop-color;
            z-index: 9;
        }
    }

    .tool-body{
        a{
            color: $white;
        }
        .login-btn, .reg-btn{
            height: 30px;
            line-height: 30px;
            text-align: center;
            background: $tool-btn-color;
            margin: 15px 0 0 0;
            &:hover{
                background: $tool-btn-h-color;
            }
        }
        .login-btn{
            border-radius: 15px 0 0 15px;
            padding:0 10px 0 20px;
        }
        .reg-btn{
            border-radius: 0 15px 15px 0;
            padding: 0 20px 0 10px;
        }
    }
}
/*
    public topbar end
 */

/**
 * footer topbar start
 */
.footer{
    .footer-topbar{
        height: 90px;
        background: $g333;
    }
}
/**
 * footer topbar end
 */
