@import "variable", "mixin";

.protal-main-content{
    .protal-part-body{
        border-left: 1px solid $g-border-color;
    }
    .protal-banner{
        height: 80px;
        text-align: center;

        .p-b-item{
            padding: 20px 0;
            display: inline-block;

            p{
                padding: 0 0 0 60px;
                color: #888;
                margin: 10px 0
            }
        }
    }
    .protal-part-top{
        background: url(../../images/protal/protal-top-bg.jpg) repeat-x;
    }
    .protal-detail{
        padding: 60px 0 60px 50px;

        .part-top-tit{
            margin: 0 0 30px 0;
            font-size: 40px;
        }
        .part-top-desc{
            color: $protal-sen-fcolor;
            line-height: 30px;
        }
    }
    .blue-btn{
        @include blue-btn(32px);
    }
    .white-btn{
        @include white-btn(32px);
    }
    .protal-img{
        padding: 120px 0;
        text-align: center;
    }
    .protal-group{
        .protal-group-content{
            padding-bottom: 50px;
        }
        .protal-group-head{
            text-align: center;
            margin: 70px 0 60px 0;
        }
        .protal-group-detail{
            .protal-group-wrap{
                padding: 0 50px;
            }
            .protal-group-grid-0{
                text-align: center;
            }

            .protal-group-tit{
                margin-top: 100px;
                font-size: 24px;
            }
            .protal-group-desc{
                line-height: 30px;
                margin: 30px 0;
                color: $g999;
            }
        }
        .protal-group-img{
            text-align: center;
            padding: 0 20px;

            img{
                max-width: 100%;
            }
        }
    }
    .get-protal{
        border-top: 3px solid $light-blue;
        padding: 50px 0;

        .adviser-photo{
            text-align: center;

            img{
                width: 80%
            }
        }
        .adviser-content{
            h5{

            }
        }
        .get-protal-tit-wrap{
            text-align: center;
            position: relative;
            padding: 0 0 80px 0;

            .get-protal-tit{
                text-align: center;
                font-size: 26px;
            }
        }

        .get-protal-content{
            margin: 0 50px;
            padding: 80px 0 50px 0;
            border-top: 1px solid $gd-border-color;

            .adviser-tit{
                font-size: 26px;
                margin: 0 0 20px 0;
            }
            .protal-desc{
                line-height: 30px;
            }
        }
    }
}

.shock-arrow{
    position: absolute;
    left: 50%;
    width: 26px;
    height: 40px;
    display: block;
    margin: 0 0 0 -13px;
    background: url(../images/bigpush/all.png) no-repeat 0 -125px;
}
