@import "variable", "response", "mixin";
@-webkit-keyframes bounce-down {
  25% {
    -webkit-transform: translateY(-3px);
  }
  50%, 100% {
    -webkit-transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(3px);
  }
}
@keyframes bounce-down {
  25% {
    transform: translateY(-5px);
  }
  50%, 100% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px);
  }
}
.animate-bounce-down{
	-webkit-animation: bounce-down 1.3s linear infinite;
  			animation: bounce-down 1.3s linear infinite;
}
.grid-0-public-footer{
	.content-prepare{
		background-color: $gf5;

		.title{
			padding: 25px 0 80px !important;
			border-top: 5px solid $tool-btn-color;
			border-bottom: 1px solid $gd-border-color;
			position: relative;

			h4{
				text-align: center;
				font-size: 26px;
				line-height :110px;
				color: #616161;
			}
			i{
				position: absolute;
				left: 50%;
				width: 26px;
				height: 40px;
				display:block;
				margin: 0 0 0 -13px;
				background: url(../../images/bigpush/all.png) no-repeat 0 -125px;
			}
		}
		.referral{
			height: 184px;
			padding: 81px 0 111px;
			.counselor{
				width: 950px;
				margin: 0 auto;
				img{
					float: left;
				}
				.right{
					margin-left:73px;
					width: 590px;
					float: left;
					h4{
						margin-top: 0;
						font-size: 26px;
						line-height:26px;
						color: #3a3a3a;
					}
					p{
						font-size: 12px;
						line-height:30px;
						margin: 30px 0 28px;
						color: #212121;
					}
					.gain{
						@include blue-btn(40px);
					}
				}
			}
		}
	}
}

.top-shadow-bg{background: url(../images/b-shadow-border.png) no-repeat center bottom}
.short-shadow-bg{background: url(../images/shot-shadow-bg.png) no-repeat center bottom}
.sub-top-banner{
    overflow: hidden;

    .top-header-body{
        padding: 0 0 60px 0;

        h1{
            font-size: 60px;
            margin: 80px 0 0 0;

            span{
                font-size: 30px;
                margin: 0 0 0 40px;
                color: $g666;
            }
        }

        .btn-line{
            margin: 30px 0;
        }
        p{
            line-height: 24px;
        }
    }

    .top-banner{
		text-align: center;

        img{
        	display: inline-block;
        }

    }
}
.grid-0-btn{
	text-align: center;
}
.content-group-img{
    text-align: center;
}
.con-group-word{
    padding: 0 20px;

    .word-tit{
        font-size: 24px;
        color: $g333;
    }
    .word-desc{
        line-height: 30px;
        color: $g666;
    }
}
