@import "../variable", "../mixin";

.info-body{

	.info-item{
		text-align: center;

		.info-tit{
			font-size: 18px;
			margin: 20px 0 10px 0;
		}
		.info-desc{
			width: 200px;
			margin: 0 auto;
			color: $g999;
		}

	}
}
.public-common-body{
	.public-common-item{
		padding: 0 0 0 60px;

		i{
			margin: 0 20px 0 0;
		}
		h3, p{
			padding: 0 120px 0 0;
			text-align: left;
		}
		.oc-tit{
			font-size: 18px;
		}
		.oc-desc{
			font-size: 14px;
			color: $g999
		}
	}
}

.statistical-body{
	text-align: center;

	.statistical-item{
		display: inline-block;

		h3{
			margin-top: 0
		}
	}
}

.hard-business-body{
	
	.bg-none{
		background: none !important;
	}
	.hard-business-item{
		text-align: center;
		background: url(../../images/zshops/zshops-icon.png) no-repeat -899px -750px;
		
		h3{
			margin: 20px 0 10px 0;

			&:hover{
				color: $light-blue;
			}
		}
		p{
			margin: 0;
			color: $g999;
		}

	}
}

.zshops-icon{
	display: inline-block;
	background: url(../../images/zshops/zshops-icon.png) no-repeat;
}
.z-icon-210x130{
	width: 210px;
	height: 130px;
}
.info-i-1{background-position: 0 0}
.info-i-2{background-position: -210px 0}
.info-i-3{background-position: -420px 0}
.info-i-4{background-position: -630px 0}

.z-icon-200x130{
	width: 200px;
	height: 130px;
}
.oc-icon-1{background-position: 0 -130px}
.oc-icon-2{background-position: -200px -130px}
.oc-icon-3{background-position: -400px -130px}
.oc-icon-4{background-position: -600px -130px}

.team-icon-1{background-position: 0 -260px}
.team-icon-2{background-position: -200px -260px}
.team-icon-3{background-position: -400px -260px}
.team-icon-4{background-position: -600px -260px}

.z-icon-230x100{
	width: 230px;
	height: 100px;
}
.member-icon-1{background-position: 0 -400px}
.member-icon-2{background-position: -230px -400px}

.z-icon-75x80{
	width: 75px;
	height: 80px;
}

.statistical-icon-1{background-position: 0 -550px}

.z-icon-565x37{
	width: 565px;
	height: 50px;
}
.z-sub-tit-icon{background-position: -200px -600px}

.z-icon-78x78{
	width: 78px;
	height: 78px;
	background-color: $white;
	border: 1px solid $light-blue;
	border-radius: 50%;

	&:hover{
		background-color: $light-blue;
	}
}

.hard-icon-1{
	background-position: 0 -700px;
	&:hover{
		background-position: 0 -778px;
	}
}
.hard-icon-2{
	background-position: -78px -700px;
	&:hover{
		background-position: -78px -778px;
	}
}
.hard-icon-3{
	background-position: -156px -700px;
	&:hover{
		background-position: -156px -778px;
	}
}
.hard-icon-4{
	background-position: -234px -700px;
	&:hover{
		background-position: -234px -778px;
	}
}
.hard-icon-5{
	background-position: -312px -700px;
	&:hover{
		background-position: -312px -778px;
	}
}