<div class="row clearfix">
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/pic/63/201512/566e80ea22d5b.png">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U61215YY5EH828GD" class="newScreena" target="_blank">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">咖啡</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/pic/63/201512/566a6952b710e.jpg">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U61211J8HE579PBH" class="newScreena" target="_blank">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">服装售后服务</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>                  
    </div>
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/pic/63/201512/566007ad8d1c4.jpg">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U612078Y453D892B" class="newScreena" target="_blank">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">御牌公司介绍</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/pic/63/201511/56418ede022e5.png">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U61202333669KG96" class="newScreena" target="_self">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">关于中企</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/pic/63/201511/564d975050b16.png">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U61202BHA75M74DP" class="newScreena" target="_blank">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">浩沙健身</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/pic/63/201511/564a9054b2503.png">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U61202M4U54F5K65" class="newScreena" target="_blank">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">企业文化</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/pic/63/201511/564ae6e00bd0a.png">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U612027EF4876FW9" class="newScreena" target="_blank">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">凯撒旅游</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/pic/63/201512/565d0c5f117d3.png">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U612028L268727K2" class="newScreena" target="_blank">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">时代滕迪家居</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>
    </div>
   
</div>