<div class="row clearfix">
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/pic/63/201512/56651b50c90ec.png">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U61211387JVCD368" class="newScreena" target="_self">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">生活家装修</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/pic/63/201512/5667eade75565.png">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U612104H863C68Y6" class="newScreena" target="_self">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">双12全民狂欢</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/syspic/scene70/b74ff3ff6f9888e9.jpg">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U6120287KF92N33F" class="newScreena" target="_self">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">韩国馆最新主题作品发布</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/pic/63/201511/5653c894555b5.png">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U612029643B58D7T" class="newScreena" target="_self">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">电影抢票</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/syspic/pic//201511/5649778ddbb24.png">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U6120253D7MT8S9P" class="newScreena" target="_self">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">打折促销</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/syspic/pic//201511/564971f8c115b.png">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U61202X25M5R22E6" class="newScreena" target="_self">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">中企动力16周年</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>    
    </div>
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/pic/63/201511/565667581c384.jpg">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U61202G49YLRH897" class="newScreena" target="_self">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">感恩有你 - 移动产品业务部</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="newSceen_itemDiv ng-scope" ng-repeat="tpl in tpls track by $index">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/pic/63/201512/565e9193d5fb8.png">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U61202C346358M7J" class="newScreena" target="_self">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">母婴特卖</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>
    </div>
</div>