<div class="row clearfix">
    <div class="col-3">
		<div class="newSceen_itemDiv">
		    <div class="newSceen_itemImgContainer">
		        <img src="http://wx.300.cn/upload/topic/pic/8/201609/57eddc306a479.jpg">
		        <div class="newSceen_itemImgBtnContainer">
		            <a href="http://wx.300.cn/ce-U710085L925B39DP" class="newScreena" target="_blank">
		                <div class="newSceen_itemImgBtn">详细预览</div>
		            </a>
		        </div>
		    </div>
		    <div class="newSceen_itemNameContainer">
		        <p class="ng-binding">全网营销制胜有道邀请函</p>
		        <p class="ng-binding">作者：300.cn</p>
		    </div>
		</div>
    </div>
    <div class="col-3">
		<div class="newSceen_itemDiv">
		    <div class="newSceen_itemImgContainer">
		        <img src="http://wx.300.cn/upload/topic/pic/8/201609/57edfb3a20306.jpg">
		        <div class="newSceen_itemImgBtnContainer">
		            <a href="http://wx.300.cn/ce-U710086DR7TB7942" class="newScreena" target="_blank">
		                <div class="newSceen_itemImgBtn">详细预览</div>
		            </a>
		        </div>
		    </div>
		    <div class="newSceen_itemNameContainer">
		        <p class="ng-binding">全网营销制胜有道邀请函2</p>
		        <p class="ng-binding">作者：300.cn</p>
		    </div>
		</div>
    </div>
    <div class="col-3">
		<div class="newSceen_itemDiv">
		    <div class="newSceen_itemImgContainer">
		        <img src="http://wx.300.cn/upload/topic/pic/8/201610/57f88aa21a556.jpg">
		        <div class="newSceen_itemImgBtnContainer">
		            <a href="http://wx.300.cn/ce-U71008474K4596C6" class="newScreena" target="_blank">
		                <div class="newSceen_itemImgBtn">详细预览</div>
		            </a>
		        </div>
		    </div>
		    <div class="newSceen_itemNameContainer">
		        <p class="ng-binding">全网营销制胜有道邀请函3</p>
		        <p class="ng-binding">作者：300.cn</p>
		    </div>
		</div>
    </div>
    <div class="col-3">
		<div class="newSceen_itemDiv">
		    <div class="newSceen_itemImgContainer">
		        <img src="http://wx.300.cn/upload/topic/pic/576/201609/57cd1eb8a8669.jpg">
		        <div class="newSceen_itemImgBtnContainer">
		            <a href="http://wx.300.cn/ce-U7090668BT495YWH" class="newScreena" target="_blank">
		                <div class="newSceen_itemImgBtn">详细预览</div>
		            </a>
		        </div>
		    </div>
		    <div class="newSceen_itemNameContainer">
		        <p class="ng-binding">客户服务沙龙邀请函</p>
		        <p class="ng-binding">作者：300.cn</p>
		    </div>
		</div>
    </div>
    <div class="col-3">
		<div class="newSceen_itemDiv">
		    <div class="newSceen_itemImgContainer">
		        <img src="http://wx.300.cn/upload/topic/pic/91/201608/57a1ac9d8df09.png">
		        <div class="newSceen_itemImgBtnContainer">
		            <a href="http://wx.300.cn/ce-U7080457J5J2HYWJ" class="newScreena" target="_blank">
		                <div class="newSceen_itemImgBtn">详细预览</div>
		            </a>
		        </div>
		    </div>
		    <div class="newSceen_itemNameContainer">
		        <p class="ng-binding">互联网+邀请函</p>
		        <p class="ng-binding">作者：300.cn</p>
		    </div>
		</div>
    </div>
    <div class="col-3">
		<div class="newSceen_itemDiv">
		    <div class="newSceen_itemImgContainer">
		        <img src="http://wx.300.cn/upload/topic/pic/63/201512/56679990604e5.jpg">
		        <div class="newSceen_itemImgBtnContainer">
		            <a href="http://wx.300.cn/ce-U6121099M7MQ67TM" class="newScreena" target="_blank">
		                <div class="newSceen_itemImgBtn">详细预览</div>
		            </a>
		        </div>
		    </div>
		    <div class="newSceen_itemNameContainer">
		        <p class="ng-binding">会议邀请函</p>
		        <p class="ng-binding">作者：300.cn</p>
		    </div>
		</div>
    </div>
    <div class="col-3">
		<div class="newSceen_itemDiv">
		    <div class="newSceen_itemImgContainer">
		        <img src="http://wx.300.cn/upload/topic/pic/63/201512/56678e5ea0b52.png">
		        <div class="newSceen_itemImgBtnContainer">
		            <a href="http://wx.300.cn/ce-U612093UM2CPNS3U" class="newScreena" target="_blank">
		                <div class="newSceen_itemImgBtn">详细预览</div>
		            </a>
		        </div>
		    </div>
		    <div class="newSceen_itemNameContainer">
		        <p class="ng-binding">战略会议</p>
		        <p class="ng-binding">作者：300.cn</p>
		    </div>
		</div>
    </div>
</div>
