<div class="row clearfix">
    <div class="col-3">
		<div class="newSceen_itemDiv">
		    <div class="newSceen_itemImgContainer">
		        <img src="http://wx.300.cn/upload/topic/pic/63/201512/5666941ab3943.png">
		        <div class="newSceen_itemImgBtnContainer">
		            <a href="http://wx.300.cn/ce-U612098Q4J84Q89X" class="newScreena" target="_blank">
		                <div class="newSceen_itemImgBtn">详细预览</div>
		            </a>
		        </div>
		    </div>
		    <div class="newSceen_itemNameContainer">
		        <p class="ng-binding">招聘</p>
		        <p class="ng-binding">作者：300.cn</p>
		    </div>
		</div>
    </div>
    <div class="col-3">
		<div class="newSceen_itemDiv">
		    <div class="newSceen_itemImgContainer">
		        <img src="http://wx.300.cn/upload/topic/pic/63/201511/5657cc9c31b60.png">
		        <div class="newSceen_itemImgBtnContainer">
		            <a href="http://wx.300.cn/ce-U61202NUFP559427" class="newScreena" target="_blank">
		                <div class="newSceen_itemImgBtn">详细预览</div>
		            </a>
		        </div>
		    </div>
		    <div class="newSceen_itemNameContainer">
		        <p class="ng-binding">招聘</p>
		        <p class="ng-binding">作者：300.cn</p>
		    </div>
		</div>
    </div>
    <div class="col-3">
		<div class="newSceen_itemDiv">
		    <div class="newSceen_itemImgContainer">
		        <img src="http://wx.300.cn/upload/topic/pic/63/201512/565d077279a8f.png">
		        <div class="newSceen_itemImgBtnContainer">
		            <a href="http://wx.300.cn/ce-U61202AFWTTVQ96M" class="newScreena" target="_blank">
		                <div class="newSceen_itemImgBtn">详细预览</div>
		            </a>
		        </div>
		    </div>
		    <div class="newSceen_itemNameContainer">
		        <p class="ng-binding">召集令</p>
		        <p class="ng-binding">作者：300.cn</p>
		    </div>
		</div>
    </div>
    <div class="col-3">
		<div class="newSceen_itemDiv">
		    <div class="newSceen_itemImgContainer">
		        <img src="http://wx.300.cn/upload/topic/pic/63/201511/565bb71667c8c.jpg">
		        <div class="newSceen_itemImgBtnContainer">
		            <a href="http://wx.300.cn/ce-U612022657AY6U7F" class="newScreena" target="_blank">
		                <div class="newSceen_itemImgBtn">详细预览</div>
		            </a>
		        </div>
		    </div>
		    <div class="newSceen_itemNameContainer">
		        <p class="ng-binding">招聘</p>
		        <p class="ng-binding">作者：300.cn</p>
		    </div>
		</div>
    </div>
</div>
