<div class="row clearfix">
    <div class="col-3">
		<div class="newSceen_itemDiv">
		    <div class="newSceen_itemImgContainer">
		        <img src="http://wx.300.cn/upload/topic/pic/63/201512/56712a9e29026.jpg">
		        <div class="newSceen_itemImgBtnContainer">
		            <a href="http://wx.300.cn/ce-U612168L5VS7QQ4T" class="newScreena" target="_self">
		                <div class="newSceen_itemImgBtn">详细预览</div>
		            </a>
		        </div>
		    </div>
		    <div class="newSceen_itemNameContainer">
		        <p class="ng-binding">网络课程-西天取经PS设计学院</p>
		        <p class="ng-binding">作者：300.cn</p>
		    </div>
		</div>
    </div>
    <div class="col-3">
		<div class="newSceen_itemDiv">
		    <div class="newSceen_itemImgContainer">
		        <img src="http://wx.300.cn/upload/topic/pic/63/201512/566a847a0cb21.png">
		        <div class="newSceen_itemImgBtnContainer">
		            <a href="http://wx.300.cn/ce-U6121559B46N23E7" class="newScreena" target="_self">
		                <div class="newSceen_itemImgBtn">详细预览</div>
		            </a>
		        </div>
		    </div>
		    <div class="newSceen_itemNameContainer">
		        <p class="ng-binding">幼儿园招生</p>
		        <p class="ng-binding">作者：300.cn</p>
		    </div>
		</div>
    </div>
    <div class="col-3">
		<div class="newSceen_itemDiv">
		    <div class="newSceen_itemImgContainer">
		        <img src="http://wx.300.cn/upload/topic/pic/63/201512/5667eaae76c85.jpg">
		        <div class="newSceen_itemImgBtnContainer">
		            <a href="http://wx.300.cn/ce-U612109M539P732H" class="newScreena" target="_self">
		                <div class="newSceen_itemImgBtn">详细预览</div>
		            </a>
		        </div>
		    </div>
		    <div class="newSceen_itemNameContainer">
		        <p class="ng-binding">企业内训</p>
		        <p class="ng-binding">作者：300.cn</p>
		    </div>
		</div>
    </div>
    <div class="col-3">
		<div class="newSceen_itemDiv">
		    <div class="newSceen_itemImgContainer">
		        <img src="http://wx.300.cn/upload/topic/pic/63/201512/565ea9c2ed618.png">
		        <div class="newSceen_itemImgBtnContainer">
		            <a href="http://wx.300.cn/ce-U61202AN7C558DJ5" class="newScreena" target="_self">
		                <div class="newSceen_itemImgBtn">详细预览</div>
		            </a>
		        </div>
		    </div>
		    <div class="newSceen_itemNameContainer">
		        <p class="ng-binding">教育培训</p>
		        <p class="ng-binding">作者：300.cn</p>
		    </div>
		</div>
    </div>
</div>