<div class="row clearfix">
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/pic/63/201512/5660fc3f25ce3.png">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U612094259QY5K53" class="newScreena" target="_blank">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">刘伟龙的个人名片</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="newSceen_itemDiv">
            <div class="newSceen_itemImgContainer">
                <img src="http://wx.300.cn/upload/topic/pic/63/201511/564c141b20625.png">
                <div class="newSceen_itemImgBtnContainer">
                    <a href="http://wx.300.cn/ce-U61202MD7G8NFDAL" class="newScreena" target="_blank">
                        <div class="newSceen_itemImgBtn">详细预览</div>
                    </a>
                </div>
            </div>
            <div class="newSceen_itemNameContainer">
                <p class="ng-binding">简历</p>
                <p class="ng-binding">作者：300.cn</p>
            </div>
        </div>
    </div>
</div>
