$main-width: 1200px;
$main-big-width: 1500px;
$main-big-height: 600px;

$light-blue: #3db1ea;
$light-green: #0fbb60;
$drak-blue: #1b77b9;

$g-border-color: #eeeeee;
$gd-border-color: #d9d9d9;
$g-blue-border: #d8effb;

$bg-blue: #1b77b9;

$topbar-color: #0f1e2b;
$topbar-h-color: #182836;
$topbar-b-color: #4d5b67;
$topbar-bh-color: #64717b;
$topbar-drop-color: rgba(0, 44, 79, .9);

$white: #fff;
$black: #000;
$geee: #eee;
$gccc: #ccc;
$g333: #333;
$g666: #666;
$g999: #999;
$gbbb: #bbb;
$gf2: #f2f2f2;
$gf5: #f5f5f5;

$bg-f9: #f9f9f9;
$bg-f3: #f3f3f3;

$tool-btn-color: #3db1ea;
$tool-btn-h-color: #1297d9;

$banner-color: #001526;
$dot-color: #808d98;

$btn-h-color: #1297d9;

$main-head-h1-color: #373d41;
$main-head-p-color: #5f6367;

$href-color: #3db1ea;
$href-h-color: #1297d9;

$footer-color: #23262a;
$footer-a-color: #9b9ea0;
$copyright-color: #73777a;

$protal-sen-fcolor: #64676c;
