@import "normalize", "mixin", "variable", "icon", "response";

body{
    font-family: 'Microsoft Yahei';
    font-size: 14px;
    background: #fff;
}
a{text-decoration: none}
.clearfix{
    *zoom: 1;
}
.clearfix:before, .clearfix:after{
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after{
    clear: both;
}
.f-left{float: left}
.f-right{float: right}
.block{display: block !important}
.mt-10{margin-top:-10px !important}
.mt5{margin-top: 5px !important}
.mt10{margin-top: 10px !important}
.mt20{margin-top: 20px !important}
.mt50{margin-top: 50px !important}
.mt30{margin-top: 30px !important}
.mt60{margin-top: 60px}
.ml25{margin-left: 25px}
.mr25{margin-right: 25px}
.ml30{margin-left: 30px}
.mr30{margin-right: 30px}
.mt40{margin-top: 40px}
.mt70{margin-top: 70px}
.mt100{margin-top: 100px !important}
.pt60{padding-top: 60px !important}
.pb80{padding-bottom: 80px !important}
.pb40{padding-bottom: 40px !important}
.pb100{padding-bottom: 100px !important}
.bg-green{background: #15bec4}
.bg-blue{background: #0099e0}
.bg-yellow{background: #efc20c}
.lh50{line-height: 50px; height: 50px}
.f24{font-size: 24px}
.logo{

}
.main-wrap{
    width: $main-width;
    margin: 0 auto;
    position: relative;
}
.gray-line{
	background: #efefef;
}
.align-left{text-align: left}
.align-center{text-align: center}
.align-right{text-align: right}

.top{
	width: 100%;
	height: 85px;
	background: url(../images/special/top-bg.jpg) #ebebeb no-repeat center center;
    position: relative;
    z-index: 9;
}
.slider-box{
	width: 100%;
	height: 485px;
    position: relative;

	.banner-body{
		width: 100%;
		height: 485px;
		background: url(../images/special/banner.jpg) center center;
        position: absolute;
        top: 0;
        left: 0;
	}
    .banner-con{
        padding: 140px 0 0 20px;
        h1{
            font-size: 46px;
            color: $white;
            margin: 0 0 20px 0;
        }
        p{
            font-size: 20px;
            color: $white;
            margin: 10px 0;
        }
        .banner-btn{
            display: block;
            margin: 30px 0 0 0;
            border-radius: 3px;
            text-align: center;
            width: 120px;
            height: 30px;
            line-height: 30px;
            background: $yellow;
            color: $black;
        }
    }
}

.content-group{
	text-align: center;

    .con-first-tit{
        font-size: 30px;
        color: $blue;
        margin: 0 0 10px 0;
    }
    .con-sec-desc{
        font-size: 18px;
        color: #6e6e6e;
        text-align: center;
    }
}
.content-tit{
	margin: 0 0 60px 0;
	padding: 0 0 30px 0;
	border-bottom: 1px solid #dbdbdb;
	position: relative;

	.blue-border{
		width: 23px;
		height: 3px;
		background: $blue;
		position: absolute;
		left: 50%;
		bottom: -2px;
	}
}
.btn-line{
	padding: 60px 0;
    position: relative;
}
.main-btn{
	@include main-btn()
}
.part-one{
    height: 92px;
    padding: 30px;

    p{
        font-size: 18px;
        color: #636363;
        margin: 15px 0 0 0;
    }
}

.part-two{
    .part-two-item{
        padding: 0 0 0 40px;

        p{
            font-size: 20px;
            color: $white;
            margin: 5px 0;
            text-align: left;
        }
        .pt-item-con{
            margin: 0 0 0 30px;
        }
    }
}
.part-thr{

    .b-one{border: 1px solid #e0be00}
    .b-two{border: 1px solid #5da814}
    .b-thr{border: 1px solid #0099e0}
    .b-fou{border: 1px solid #00c6b1}

    .part-thr-item{
        background: $white;
        padding: 20px 0;

        h3{
            font-size: 18px;
            color: $blue;
        }
        p{
            color: #7c7c7c;
        }
    }

    .bg-one{background: #ef9800}
    .bg-two{background: #a3c91d}
    .bg-thr{background: #1dc992}
    .part-thr-citem{
        width: 226px;
        height: 226px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;

        p{
            font-size: 18px;
            color: $white;
            margin: 0
        }
    }
}

.part-fou{
    .bg-d-blue{background: #019fe8}
    .bg-l-blue{background: #eefeff; border-radius: 0 !important}

    .part-fou-item{
        padding: 30px;

    }

    .white{color: $white}
    .blue{color: $blue}
    .white-btn{
        display: inline-block;
        height: 25px;
        line-height: 25px;
        text-align: center;
        color: $blue;
        background: $white;
        padding: 0 30px;
        border-radius: 12px;
    }
    .blue-btn{
        display: inline-block;
        height: 25px;
        line-height: 25px;
        text-align: center;
        color: $white;
        background: $blue;
        padding: 0 30px;
        border-radius: 12px;
    }
}
.img-box{
    margin: 50px 0;
}

.part-six{
    position: relative;

    .part-six-con{
        width: 1280px;
    }
    .case-item{
        float: left;
        margin: 0 52px 28px 0;
        position: relative;

        p{
            text-align: left;
            color: $blue;
        }
        .case-img{
            position: relative;
            width: 261px;
            height: 190px;
            overflow: hidden;

            .go-detail{
                width: 261px;
                height: 190px;
                background: rgba(0, 0, 0, .6);
                position: absolute;
                top: 190px;
                left: 0;

                a{
                    display: block;
                    width: 100px;
                    height: 30px;
                    line-height: 30px;
                    background: $blue;
                    color: $white;
                    text-align: center;
                    border-radius: 3px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin: -15px 0 0 -50px;
                }
            }
        }
        .case-btn{
            position: absolute;
            bottom: 13px;
            right: 0px;
            display: inline-block;
            height: 20px;
            line-height: 20px;
            text-align: center;
            color: $white;
            background: #ef9d00;
            padding: 0 10px;
            font-size: 12px;
            border-radius: 10px;
        }
        .more-case{
            background: #ccc;
            color: $white;
            display: inline-block;
            width: 260px;
            height: 190px;
            line-height: 190px;
            font-size: 18px;

        }
    }
}

.full-line{
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
}


.bottom-tip{
	width: 100%;
	height: 150px;
	text-align: center;
	background: #e4e4e4;

    .b-t-item{
        height: 50px;
        margin: 30px 0 0 0;

        p{
            margin: 2px 0 5px 0;
            text-align: left;
            padding: 0 0 0 70px;
            color: #5a5a5a;
        }
    }
}
.footer{
	width: 100%;
	background: #444;
    padding: 30px 0 107px 0;

    p{
        color: #cdcdcd;
        
    }
}
.tool-bar{
	position: fixed;
    top: 50%;
    margin: -70px 0 0 0;
	right: 0;
    z-index: 99999;
    
    .tool-bar-body{
        background: #e0e0e0;
        border-radius: 5px 0 0 5px;
    }
	.tool-item{
        position: relative;
        width: 77px;
        height: 71px;
        text-align: center;
        cursor: pointer;
        background: #e0e0e0;

        p{
            margin: -6px 0 0 0;
            color: #656565;
        }
        
        &:hover, &.active{
            background: #019fe8;

            p{
                color: $white;
            }

            .icon-online{background-position: -400px -300px}
            .icon-phone{background-position: -400px -350px}
        }
        
        .fold-close{
            position: relative;
            z-index: 9;
        }
    
        .fold-body{
            position: absolute;
            left: 0;
            top: 0;
            z-index: -100;
            width: 186px;
            height: 71px;
            background: #019fe8;
            border-radius: 5px;

            .online-btn{
                width: 166px;
                height: 43px;
                line-height: 43px;
                text-align: center;
                font-size: 18px;
                color: #019fe8;
                background: #e8e8e8;
                border-radius: 3px;
                margin: 12px 0 0 10px;

                a{
                    color: #019fe8;
                }
            }
            p{
                margin: 5px 0 5px 10px;
                color: $white;
                text-align: left;
            }
        }
    }
    .b-l-t-5{border-radius: 5px 0  0  0}
    .b-l-b-5{border-radius: 0 0 0 5px}


    .border-bottom{
        border-bottom: 1px solid #c7c7c7;
    }
}
.get-phone{
    width: 100%;
    height: 77px;
    background: rgba(0, 0, 0, .6);
    position: fixed;
    bottom: 0;
    z-index: 999;

    .arrow{
        position: absolute;
        left: -80px;
        width: 80px;
        height: 77px;
        display: none;
        background: url(../images/special/special-icon.png) rgba(0, 0, 0, .6) no-repeat -420px -546px;
        border-radius: 5px;
        cursor: pointer;
    }

    .g-p-tit{
        font-size: 20px;
        color: $white;
        line-height: 77px;
        padding: 0 20px 0 100px;
        margin: 0;
    }

    .g-p-input{
        width: 410px;
        height: 37px;
        line-height: 37px;
        padding: 0 10px;
        margin: 20px 0 0 0;
        border: none;
        background: #e4e4e4;
        border-radius: 3px 0 0 3px;
    }

    .phone-btn{
        width: 87px;
        height: 37px;
        line-height: 37px;
        text-align: center;
        color: $white;
        background: #019fe8;
        margin: 20px 0 0 0;
        border-radius: 0 3px 3px 0;
        cursor: pointer;
    }

    .p-close{
        position: absolute;
        right: 10px;
        top: 20px;
        cursor: pointer;
    }
}