@import "../variable";

.choice-zhongqi-content{
    .choice-w30{width: 30%}
    .choice-w40{width: 40%}
    .choice-zhongqi-item{
        float: left;

        .item-detail{
            h3, p{
                color: $white;
            }
            h3{
                margin-top: 0;
                margin-bottom: 10px;
            }
            .item-desc{
                margin: 5px 0;
            }
            .item-btn{
                margin: 5px 0;
            }
            a{
                color: $href-color;

                &:hover{
                    color: $href-h-color;
                }
            }
        }
    }
}
