@import"mixin", "variable", "response";

.login-container{
    padding: 120px 100px;

    h1{
        font-size: 64px;
        margin: 0;
    }

    .log-body{
        .log-group{
            margin-top: 60px;
            .log-input{
                margin-top: 20px;
                height: 100px;
                line-height: 100px;
                border: none;
                border-bottom: 2px solid #333;
                width: 100%;
                box-sizing: border-box;
                input{
                    font-size: 28px;
                    width: 100%;
                }
                input::-webkit-input-placeholder{
                    color:#ddd;
                }
                img{
                    width: 100%;
                }
                .disable{
                    color: #aaa;
                }
            }
        }
        .member-code{
            font-size: 60px;
            border-bottom: 4px solid $green;
            height: 60px;
            line-height: 60px;
            padding: 0 0 20px 0;
            color: $green;
        }
    }
    .log-tool{
        
    }
    .log-btn{
        height: 80px;
        line-height: 80px;
        text-align: center;
        border-radius: 5px;
        background: #333;
        font-size: 36px;
        color: #fff;

        a{
            color: #fff;
            text-decoration: none;
        }
    }
    .log-reg{
        text-align: center;
        font-size: 36px;
        text-decoration: underline;
        a{
            color: #333;
        }
    }
    .log-protocol{
        font-size: 20px;
        color: #666;

        input{
            width: 20px;
            height: 20px;
            margin: 0 10px 0 0;
        }
    }
    .errors{
        margin-top: 40px;
        font-size: 20px;
    }
}

.forget-password-dialog{
    padding: 40px;
    text-align: center;
}
.service-agreement{
    padding: 20px;
}
.close-body{
    height: 60px;
    line-height: 60px;
    padding: 20px 0 0 0;
    text-align: center;
    border-top: 1px solid #ddd;
}