.zq-icon{
    display: inline-block;
    background: url(../images/newindex/new300-sprite-icon.png) no-repeat;
}

.icon40x40{width: 40px; height: 40px}
.icon7x13{width: 7px; height: 13px}
.icon17x17{width: 17px; height: 17px}
.icon18x18{width: 18px; height: 18px}
.icon22x22{width: 22px; height: 22px}
.icon29x29{width: 29px; height: 29px}
.icon36x36{width: 36px; height: 36px}
.icon35x35{width: 35px; height: 35px}
.icon50x50{width: 50px; height: 50px}
.icon60x55{width: 60px; height: 55px}
.icon60x60{width: 60px; height: 60px}
.icon62x62{width: 62px; height: 62px}
.icon66x66{width: 66px; height: 66px}
.icon64x64{width: 64px; height: 64px}
.icon70x65{width: 70px; height: 65px}
.icon83x83{width: 83px; height: 83px}
.icon47x47{width: 47px; height: 47px}
.icon57x57{width: 57px; height: 57px}
.icon85x85{width: 85px; height: 85px}
.icon100x100{width: 100px; height: 100px}
.icon100x60{width: 100px; height: 60px}
.icon150x150{width: 150px; height:150px}
.icon250x200{width: 250px; height: 200px}

.cloud-icon-1{background-position: 0 0}
.cloud-icon-2{background-position: -100px 0}
.cloud-icon-3{background-position: -200px 0}
.cloud-icon-4{background-position: -300px 0}

.solution-icon1{background-position: 0px -200px}
.solution-icon2{background-position: -100px -200px}
.solution-icon3{background-position: -200px -200px}
.solution-icon4{background-position: -300px -200px}
.solution-icon5{background-position: -400px -200px}

.solution-1-item-1{background-position: 0 -350px}
.solution-1-item-2{background-position: -100px -350px}
.solution-1-item-3{background-position: -200px -350px}
.solution-1-item-4{background-position: -300px -350px}

.solution-2-item-1{background-position: 0 -1050px}
.solution-2-item-2{background-position: -100px -1050px}
.solution-2-item-3{background-position: -200px -1050px}

.solution-3-item-1{background-position: 0 -1150px}
.solution-3-item-2{background-position: -100px -1150px}
.solution-3-item-3{background-position: -200px -1150px}

.solution-4-item-1{background-position: 0 -1250px}
.solution-4-item-2{background-position: -100px -1250px}
.solution-4-item-3{background-position: -200px -1250px}
.solution-4-item-4{background-position: -300px -1250px}
.solution-4-item-5{background-position: -400px -1250px}

.solution-5-item-1{background-position: 0 -1350px}
.solution-5-item-2{background-position: -100px -1350px}
.solution-5-item-3{background-position: -200px -1350px}

.t-phone-icon{background-position: -100px -350px}

.icon14x26{
    width: 14px;
    height: 26px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -13px 0 0 -7px
}
.left-arrow{background-position: -250px 0}
.rig-arrow{background-position: -264px 0}

.popular-app-icon1{background-position: 0 -450px}
.popular-app-icon2{background-position: -100px -450px}
.popular-app-icon3{background-position: -200px -450px}
.popular-app-icon4{background-position: -300px -450px}
.popular-app-icon5{background-position: -400px -450px}
.popular-app-icon6{background-position: -500px -450px}
.popular-app-icon7{background-position: -600px -450px}
.popular-app-icon8{background-position: 0 -950px; margin: 70px 0 0 0}

.cz-icon1{
    width: 350px;
    height: 100px;
    background-position: 0 -650px;
    margin: 0 20px 0 0;
}
.cz-icon2{
    width: 350px;
    height: 100px;
    background-position: -400px -650px;
    margin: 0 20px 0 0;
}
.cz-icon3{
    width: 400px;
    height: 100px;
    background-position: -750px -650px;
    margin: -10px 20px 0 0;
}

.f-t-icon1{background-position: 0 -750px}
.f-t-icon2{background-position: -100px -750px}
.f-t-icon3{background-position: -200px -750px}
.f-t-icon4{background-position: -300px -750px}

.icon-hot{
    width: 48px;
    height: 48px;
    background-position: 0 -320px;
}

.protal-icon, .page-icon{
    display: inline-block;
    background: url(../images/protal/protal-icon-img.png) no-repeat;
}
.protal-l-icon{background-position: 0 0}
.protal-phone{background-position: -100px 0}
.protal-phone-num{
    width: 137px;
    height: 16px;
    background-position: -150px 0;
}

.protal-down-arrow{
    width: 26px;
    height: 40px;
    background-position: 0 -100px;
}
.protal-b-icon-1{background-position: 0 -200px}
.protal-b-icon-2{background-position: -40px -200px}
.protal-b-icon-3{background-position: -80px -200px}
.protal-b-icon-4{background-position: -120px -200px}
.protal-b-icon-5{background-position: -160px -200px}
.er-b-icon-1{background-position: 0 -150px}
.er-b-icon-2{background-position: -40px -150px}
.er-b-icon-3{background-position: -80px -150px}
.er-b-icon-4{background-position: -120px -150px}

.yy-icon{
    display: inline-block;
    background: url(../images/youyi/youyi-icon-img.png) no-repeat;
}
.y-info-icon-1{background-position: 0 0}
.y-info-icon-2{background-position: -60px 0}
.y-info-icon-3{background-position: -120px 0}

.yy-tab-line-11{background-position: 0 -300px}
.yy-tab-line-12{background-position: -198px -300px}
.yy-tab-line-13{background-position: -396px -300px}
.yy-tab-line-14{background-position: -66px -300px}
.yy-tab-line-15{background-position: -264px -300px}
.yy-tab-line-16{background-position: -462px -300px}
.yy-tab-line-17{background-position: -132px -300px}
.yy-tab-line-18{background-position: -330px -300px}
.yy-tab-line-19{background-position: -528px -300px}

.yy-tab-line-21{background-position: 0 -200px}
.yy-tab-line-22{background-position: -198px -200px}
.yy-tab-line-23{background-position: -396px -200px}
.yy-tab-line-24{background-position: -66px -200px}
.yy-tab-line-25{background-position: -264px -200px}
.yy-tab-line-26{background-position: -462px -200px}
.yy-tab-line-27{background-position: -132px -200px}
.yy-tab-line-28{background-position: -330px -200px}
.yy-tab-line-29{background-position: -528px -200px}

.yy-tab-line-31{background-position: 0 -100px}
.yy-tab-line-32{background-position: -198px -100px}
.yy-tab-line-33{background-position: -396px -100px}
.yy-tab-line-34{background-position: -66px -100px}
.yy-tab-line-35{background-position: -264px -100px}
.yy-tab-line-36{background-position: -462px -100px}
.yy-tab-line-37{background-position: -132px -100px}
.yy-tab-line-38{background-position: -330px -100px}
.yy-tab-line-39{background-position: -528px -100px}

.product-server-icon-1{background-position: 0 -400px}
.product-server-icon-2{background-position: -70px -400px}
.product-server-icon-3{background-position: -140px -400px}
.product-server-icon-4{background-position: -210px -400px}
.product-server-icon-5{background-position: -280px -400px}
.product-server-icon-6{background-position: -350px -400px}

.public-cloud-icon-1{background-position: 0 -500px}
.public-cloud-icon-2{background-position: -60px -500px}
.public-cloud-icon-3{background-position: -120px -500px}
.public-cloud-icon-4{background-position: -180px -500px}

.experience-product-icon-1{background-position: 0 -600px}
.experience-product-icon-2{background-position: -85px -600px}
.experience-product-icon-3{background-position: -170px -600px}

.bg-l-blue{
    background-color: $light-blue;
    border-radius: 50%;

    &:hover{
        background-color: $drak-blue;
    }
}

.icon-prev{background-position: 0 -300px; margin-top: 8px;}
.icon-next{background-position: -10px -300px; margin-top: 8px;}

.hot-line-icon{
    width: 450px;
    height: 100px;
    background-position: -700px -350px;
}
.footer-weixin-icon{
    background-position: 0 -850px;
    
}